{{>header}}
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### About Us Area Start ##### -->
<div class="about-us-area about-page section-padding-100">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <div class="about-content">
                    <h5>Who We Are</h5>
                    <p>We are what we think, and we think what we feed our minds with. Growing up as a 21st century
                        youth, I realized how much society is polluted with all sort of content to feed our minds.
                        Unconsciously, we tend to behave in ways that are influenced by all the polluted content out
                        there. This is a real problem because, content on the media, entertainment industry and wrong
                        norms and notions are becoming an integral part of us. Change begins from the mind. 
                        Under the guidance of the Holy Spirit, we aspire  to foster a movement of transformation
                        that will revitalise the minds of future generations and young people with Christ centred principles.
                        </p>
                   
                </div>



                    <div class="about-content">
                        <h5>Eagles Camp Meeting</h5>
                        <p>
                          We organise periodic intensive camps to keep the flame of the spirit burning 
                          in us even as we journey through each year 
                       </p>
                    
                    </div>

                    <div class="about-content">
                        <h5>Coordinators Camp</h5>
                        <p>
                            This camp provides a unique opportunity for our hard-working 
                            coordinators to come together to share ideas,pray, and sharpen 
                            one another for the next level.
                        </p>
                    </div>


                    <div class="about-content">
                        <h5>Love Feasts</h5>
                        <p>
                            CGM organizes relationship seminars from time to time dubbed LOVE FEAST.
                            COVID-19 helped us to elevate the relationship seminar into an online monthly meeting with amazing participation
                            globally.
                        </p>
                    
                    </div>

                    <div class="about-content">
                        <h5>Mentoring HUB</h5>
                        <p>
                        In the monitoring HUB we devote time to provide mentoring to our young and upcoming executives.
                        </p>
                    
                    </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="about-thumbnail">
                    <img src="../public/img/bg-img/DSCN1531.JPG" alt="">
                </div>
                <div class="about-thumbnail">
                    <img src="../public/img/gem/yellow-grp.jpg" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- ##### About Us Area End ##### -->

<!-- ##### Call To Action Area Start ##### -->
<!-- <section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url(img/bg-img/6.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action-content text-center">
                        <h6>A Place For You</h6>
                        <h2>Find a place to connect and grow through a small group, class, or regular gathering.</h2>
                        <a href="#" class="btn crose-btn btn-2">Become A Member</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- ##### Call To Action Area End ##### -->


<!-- ##### Social Links Area Start ##### -->
<div class="social-links-area section-padding-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-heading text-center mb-5">
                    <h2>Connect With Us</h2>
                    <p>Join our vibrant communities on social media</p>
                </div>
            </div>
        </div>
        
        <div class="social-links-container">
            <!-- Love Feast WhatsApp -->
            <a href="https://chat.whatsapp.com/HEZ3eFw8GaQ8pIbyH7QUQu" class="social-link-item whatsapp-gradient">
                <div class="icon-wrapper">
                    <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004A9.87 9.87 0 016.809 20.4l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884"/>
                    </svg>
                </div>
                <div class="link-content">
                    <h5>Love Feast</h5>
                    <span>Join Group →</span>
                </div>
            </a>

            <!-- Eagles Camp WhatsApp -->
            <a href="https://chat.whatsapp.com/GxCT3JwzESnH3VjZvUNDK3" class="social-link-item whatsapp-gradient">
                <div class="icon-wrapper">
                    <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004A9.87 9.87 0 016.809 20.4l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884"/>
                    </svg>
                </div>
                <div class="link-content">
                    <h5>Eagles' Camp</h5>
                    <span>Join Group →</span>
                </div>
            </a>

            <!-- Campus Gem Telegram -->
            <a href="https://t.me/campusgem" class="social-link-item telegram-gradient">
                <div class="icon-wrapper">
                    <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M11.944 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0a12 12 0 0 0-.056 0zm4.962 7.224c.1-.002.321.023.465.14a.506.506 0 0 1 .171.325c.016.093.036.306.02.472-.18 1.898-.962 6.502-1.36 8.627-.168.9-.499 1.201-.82 1.23-.696.065-1.225-.46-1.9-.902-1.056-.693-1.653-1.124-2.678-1.8-1.185-.78-.417-1.21.258-1.91.177-.184 3.247-2.977 3.307-3.23.007-.032.014-.15-.056-.212s-.174-.041-.249-.024c-.106.024-1.793 1.14-5.061 3.345-.48.33-.913.49-1.302.48-.428-.008-1.252-.241-1.865-.44-.752-.245-1.349-.374-1.297-.789.027-.216.325-.437.893-.663 3.498-1.524 5.83-2.529 6.998-3.014 3.332-1.386 4.025-1.627 4.476-1.635z"/>
                    </svg>
                </div>
                <div class="link-content">
                    <h5>Campus Gem</h5>
                    <span>Join Channel →</span>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- ##### Social Links Area End ##### -->

<!-- ##### Why Choose Us Area Start ##### -->
<div class="why-choose-us bg-gray section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <h2>What we do</h2>
                    <p>Loaded with fast-paced worship, activities, and IT trainings teachings to address real issues that
                        we face each day</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Single Why Choose Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-why-choose-us mb-100">
                    <img src="../public/img/core-img/why1.png" alt="">
                    <h4>Events</h4>
                    {{!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form.</p> --}}
                </div>
            </div>
            <!-- Single Why Choose Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-why-choose-us mb-100">
                    <img src="../public/img/core-img/why2.png" alt="">
                    <h4>Outreach</h4>
                    {{!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form.</p> --}}
                </div>
            </div>
            <!-- Single Why Choose Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-why-choose-us mb-100">
                    <img src="../public/img/core-img/why3.png" alt="">
                    <h4>Mentorship</h4>
                    {{!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form.</p> --}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Why Choose Us Area End ##### -->

<!-- ##### Team Members Area Start ##### -->

<!-- ##### Team Members Area End ##### -->

<!-- ##### Subscribe Area Start ##### -->

    <style>
        .social-links-area {
            padding: 40px 0;
            background:white
        }

        .social-links-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            flex-direction: row; /* Changed to row for horizontal layout */
            padding: 20px;
            max-width: 100%;
            overflow-x: auto; /* Allow horizontal scrolling if needed */
        }

        .social-link-item {
            display: flex;
            align-items: center;
            padding: 15px 25px;
            border-radius: 12px;
            text-decoration: none;
            color: white;
            width: 280px; /* Fixed width for consistent sizing */
            transition: all 0.3s ease;
            position: relative;
            overflow: hidden;
            flex-shrink: 0; /* Prevent items from shrinking */
        }

        .social-link-item::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.1);
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }

        .social-link-item:hover::before {
            transform: translateX(0);
        }

        .whatsapp-gradient {
            background: linear-gradient(45deg, #25D366, #128C7E);
            box-shadow: 0 4px 15px rgba(37, 211, 102, 0.2);
        }

        .telegram-gradient {
            background: linear-gradient(45deg, #0088cc, #0056a3);
            box-shadow: 0 4px 15px rgba(0, 136, 204, 0.2);
        }

        .icon-wrapper {
            background: rgba(255, 255, 255, 0.2);
            padding: 10px;
            border-radius: 50%;
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }

        .social-icon {
            width: 24px;
            height: 24px;
            color: white;
        }

        .link-content {
            flex: 1;
        }

        .link-content h5 {
            margin: 0;
            font-size: 1.1rem;
            font-weight: 600;
            color: white;
        }

        .link-content span {
            font-size: 0.9rem;
            opacity: 0.9;
            display: block;
            margin-top: 2px;
            transition: transform 0.3s ease;
        }

        .social-link-item:hover .link-content span {
            transform: translateX(5px);
        }

        .social-link-item:hover {
            transform: translateY(-3px);
        }

        @media (max-width: 992px) {
            .social-links-container {
                flex-wrap: nowrap;
                justify-content: flex-start;
                padding: 20px 0;
            }
            
            .social-link-item {
                width: 260px;
            }
        }

        @media (max-width: 768px) {
            .social-links-container {
                padding: 20px 15px;
            }
        }
    </style>

{{>subscribe}}


{{>footer}}
